form .form-padding{
    padding: 15px;
}

.top-padding{
    padding-top: 10px;
}

.horizontal {
    display: inline;
}

div .padding{
    padding: 3px 15px;
}

div .attachment-container{
    padding-top: 8px;
}

.remove-link {
    color: darkred;
    padding-left: 5px;
}

.inner-attachment-container{
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}